.ul {
  list-style-position: inside;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.05);
  padding: 0;
  margin: 0;
  border-radius: 0.1rem;
}

li {
  padding: 10px 20px;
  list-style: none;
  color: rgb(255, 255, 255);
}

li:not(:last-child) {
  border-bottom: 1px solid rgb(148, 128, 69);
}

li:first-child {
  margin-top: 1rem;
}

li:last-child {
  margin-bottom: 1rem;
}
.ul li i {
  color: rgb(255, 157, 0);
}
.boldtext {
  color: rgb(255, 255, 255);
}
.bg-transparent {
  background-color: rgba(254, 254, 254, 0.08) !important;
}
.boldtext span {
  font-size: 200%;
}
.bg-danger {
  background-color: rgb(136, 6, 6) !important;
}
